    .allcol{
        position: relative;
    }
    .newcol{
        width: calc(25% - 10px);
       
        padding-bottom: 5px;
        padding-right:10px;
        
        display: inline-block;
        vertical-align:top;  
    }
    @-moz-document url-prefix() {
        .newcol {padding-bottom:0px;}
    }
    @media all\0 { 
        .newcol{
            width: 24%;
            padding-right: 1%;  
        }         
    } 
    .hidecol{
        display: none;
    }
    .ptowidth{
       width: 100%;
       height:auto;
    }
    .nophotoc 		{ font-size:20px; line-height:50px; font-family:'Raleway-Bold'; background-color:#d4eda9}