

	/* ==========================================================================
		Common Style
	============================================================================= */

	html #body.cms-cover, .text-effect .input { font-family: "Myriad Set Pro", Arial, Helvetica, Verdana, sans-serif; }
	html #body.cms-cover .btn-login, html #body.cms-cover .font-l, .text-effect .input  { font-size:24px}


	html #body.cms-cover	{ background-color:#fff; width:100%; margin:0; padding:0; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; color:#333;
							  font-size:13px; line-height:1.4 }
	html #body.cms-cover .header 	   	{ width:100%;  position:absolute; z-index:2;}
	html #body.cms-cover .header .h-pos { padding:13px 0 0 40px; height:calc(100% - 26px); }

	html #body.cms-cover .intro-blk { padding:0 20px }
	html #body.cms-cover .intro-blk .intro { padding-bottom:10px; padding-top:5px }

	html #body.cms-cover .login-blk		{ width:100%; height:100% ; position:absolute; top:0px; z-index:1; overflow-y:auto; color:#fff; }
	html #body.cms-cover .login-blk .login		{   width:560px; position:absolute; left:50%; top:50%; 
  													margin-top:-200px; margin-left:-300px; vertical-align:middle; padding:20px 0 0 0;
  													background: url(images/bg-black-opacity70.png);}
	html #body.cms-cover .login-blk .login	section.pos { padding-top: 20px; padding-bottom:30px} 
	html #body.cms-cover .login-blk .login	section .fa { padding-right:10px}

	html #body.cms-cover .forget-password-blk 		{ text-align:right; font-size:11px; text-transform: uppercase; padding:10px 25px 20px 0; color:#ba2950; display:none}
	html #body.cms-cover a.forget-password			{ color:#666; text-decoration:none; cursor:pointer; transition: all 0.3s ease-out;}
	html #body.cms-cover a.forget-password:hover	{ color:#fff;}

	html #body.cms-cover .btn-login { transition: all 0.3s ease-out; cursor:pointer;  }

	html #body.cms-cover .btn-login 	{ text-align:right; padding:10px 45px 10px 0;}
	html #body.cms-cover .btn-login .fa-angle-right { display:none;}
	html #body.cms-cover .btn-login .login-field 	{ color:#fff; z-index:20;  transition: all 0.3s ease-out;}
	html #body.cms-cover .btn-login .login-bg 		{ width:100%; height:100%; position: absolute; top:0; z-index:10; transition: all 0.3s ease-out;} 
	html #body.cms-cover .btn-login:hover .login-bg 		{ opacity:0.1; border-top:1px solid #fff} 
	html #body.cms-cover .btn-login:hover .login-field 		{ color:#fff; opacity:1; margin-right:-20px;}
	html #body.cms-cover .btn-login:hover .fa-angle-right 	{ display:inline-block;}


	html #body.cms-cover footer {  width:calc(100% - 40px); position:absolute; bottom:0; background:url(images/bg-black-opacity60.png);
								   padding:10px 20px; font-size:12px; text-align:right;}

	html #body.cms-cover div 	{ position:relative;}

	html #body .header .div-table 		{ display:table; table-layout: fixed; height: 100%; width: 100%; color:#999}
	html #body .header .div-table .row1 		{ display:table-cell; float:none; height:100%; vertical-align:middle;}
	html #body .header .div-table .row2 		{ display:table-cell; float:none; height:100%; text-align:right; vertical-align:bottom}
	html #body .header .div-table .row1 .r1-pos { padding:20px 0px 20px 50px; width:15%}
	html #body .header .div-table .row2 .r2-pos { padding:0 30px 20px 0; font-size:16px; text-transform:uppercase;}

	html #body .error 		{ padding:20px 20px 20px 20px; }
	html #body .error ul 	{ margin:0; padding:0;  }
	html #body .error ul li	{ padding-right:20px; padding-bottom:10px; list-style:none; font-style:italic; }
	html #body .error ul li:last-child	{  padding-bottom:0px; }

	html #body .error i { font-size:14px; padding-right:10px }


	/* ==========================================================================
		Input box effect
	============================================================================= */


	.text-effect .input { 	position:relative; z-index:1; display:inline-block; 
							width:calc(50% - 20px);  margin-right:10px; vertical-align:top;
							/*font-size:24px;*/ line-height:normal; }

	.input__field { position:relative; display:block; float:right; padding:0.8em; width:60%;
					border:none; border-radius:0; background:#f0f0f0; color:#fff;
					font-weight: 400; 
					-webkit-appearance: none; /* for box shadows to show on iOS */
					text-indent: 10px;	}

	.input__field:focus { outline:none; }

	.input__label { display:inline-block; float:right; padding:0 1em; width:50%;
					color:#fff; font-size:70.25%;
						-webkit-font-smoothing: antialiased;
					   -moz-osx-font-smoothing: grayscale;
						 -webkit-touch-callout: none;
						   -webkit-user-select: none;
						    -khtml-user-select: none;
						      -moz-user-select: none;
					      	   -ms-user-select: none;
						           user-select: none; }

	.input__label-content { position:relative; display:block; padding:1.6em 0; width:100%; }

	.graphic 	{ position:absolute; top:0; left:0; fill:none; }
	.icon 		{ color:#ddd; font-size:150%; }

	.input__field--ruri			{ width:100%; background:transparent; padding:10px 0; margin-bottom:2em; color:#fff; font-size:14px;}
	.input__label--ruri 		{ width:100%; position:absolute; text-align: left; font-size:20px; padding:10px 0 5px; pointer-events:none;}
	.input__label--ruri::after 	{ content: ''; position:absolute; width:100%; height:3px;
								  /*background:#ba2950;*/ left:0; top:100%;
									-webkit-transform-origin: 50% 100%;
									        transform-origin: 50% 100%;
						 				   -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
												   transition: transform 0.3s, background-color 0.3s; }

	.input__label-content--ruri { padding: 0 10px;
									-webkit-transform-origin: 0 0;
											transform-origin: 0 0;
										  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
									              transition: transform 0.3s, color 0.3s; }

	.input__field--ruri:focus + .input__label--ruri::after,
	.input--filled .input__label--ruri::after {  /*background: #ba2950;*/
										  -webkit-transform: scale3d(1, 0.25, 1);
												  transform: scale3d(1, 0.25, 1); }

	.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
	.input--filled .input__label--ruri .input__label-content--ruri {
		color: #fff;  font-weight:normal; text-transform: uppercase;
		-webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
				transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
	}


	@media only screen and (max-width:667px) {
	html #body.cms-cover .btn-login, html #body.cms-cover .font-l, .text-effect .input  { font-size:16px}
	.input__field--ruri			{ width:100%; background:transparent; padding:10px 0; margin-bottom:2.5em; color:#fff; }


	html #body.cms-cover .login-blk .login		{   width:calc(100% - 30px); position:absolute; left:15px; top:150px; margin-top:inherit; margin-left:inherit; padding-top:20px }
	
	html #body .header .div-table 				{ display:block; table-layout: inherit; height: auto;}
	html #body .header .div-table .row1 		{ display:block; float:none; height:auto; vertical-align:inherit;}
	html #body .header .div-table .row2 		{ display:block; float:none; height:auto; text-align:left; vertical-align:inherit;}
	html #body .header .div-table .row1 .r1-pos { padding:10px 15px; width:calc(100%-30px); }
	html #body .header .div-table .row2 .r2-pos { padding:5px 15px; font-size:12px; text-transform: inherit; background-color:#333; color: #fff}

	html #body.cms-cover .intro-blk .intro { display:none}
	html #body.cms-cover .login-blk .login	section.pos { padding-top: 10px; padding-bottom:20px} 

	.text-effect .input { width:100%;  margin-right:0px; }
	html #body .error 		{ padding:10px 20px 10px 20px; }

	}
