		
	/*  More btn
	---------------------------------------------------------------------------- */
	#body.theme-blue a.more-sm 			{ color:#003399 }
	#body.theme-blue a.more-sm:hover 	{ color:#011e57; text-decoration:none }

	#body.theme-green a.more-sm 		{ color:#80bb47 }
	#body.theme-green a.more-sm:hover 	{ color:#538523; text-decoration:none }

	#body.theme-red a.more-sm 			{ color:#b20838 }
	#body.theme-red a.more-sm:hover 	{ color:#760626; text-decoration:none }

	#body.theme-yellow a.more-sm 		{ color:#e0b300 }
	#body.theme-yellow a.more-sm:hover 	{ color:#c29c03; text-decoration:none }

	#body.theme-cyan a.more-sm 			{ color:#02a9d3 }
	#body.theme-cyan a.more-sm:hover 	{ color:#006e8a; text-decoration:none }

	.general a.more-sm 			{  text-decoration:none}
	.general a.more-sm:hover 	{  text-decoration:none}

	.more 	{ text-align:right; text-transform:uppercase; line-height:normal; font-weight:bold}
	.more .fa-chevron-circle-right.more-style { padding-left:5px; padding-bottom:20px; line-height:normal;  }

	.like-container .more 	{ position:absolute; right:20px; bottom:0px;}
  	.like-container .more-d { display:block;}
  	.like-container .more-m { display:none;}


	/*  section landing page "Section Name square box" hidden or show
	---------------------------------------------------------------------------- */
	.square-d { display:block; }



	/* ==========================================================================
		Media Style
	============================================================================= */
	@media only screen and (max-width: 1250px) {
	.square-d { display:none; }

  	}

  	@media only screen and (max-width:667px) {
 	.like-container .more { position:relative; right:20px; bottom:inherit;}
  	.like-container .more-d { display:none;}
  	.like-container .more-m { display:block;}


  	.adjfont-m-only	{ font-size:14px; line-height:1 } /* for "concert-info.html" only */

 	}