


	.concert-item	{ margin-bottom:40px }
	.concert-item .concert-name {  width:calc(100% - 40px); padding:10px 20px;
										-webkit-border-top-right-radius: 20px;
										    -moz-border-radius-topright: 20px;
										        border-top-right-radius: 20px}


 	.concert-item .gray-blk { background-color:#ececec;
 				 	    -webkit-border-bottom-right-radius: 20px;
							-moz-border-radius-bottomright: 20px;
							    border-bottom-right-radius: 20px;}


    .concert-item .detail-box					{ position:absolute; top:0; left:0}
    .concert-item .detail-box .detail-box-pos	{ padding:20px}


	.concert-item ul.concert-detail 	{ margin:0; padding:0}
	.concert-item ul.concert-detail li 	{ margin:0; padding:0 0 5px 0; list-style:none;}

	.concert-item ul.concert-detail li:before 		 { font-weight:bold; padding-right:10px; }
	#body.en .concert-item ul.concert-detail li.date:before   { content:"Date"; }
	#body.en .concert-item ul.concert-detail li.time:before   { content:"Time"; }
	#body.en .concert-item ul.concert-detail li.venue:before  { content:"Venue"; }
	#body.en .concert-item ul.concert-detail li.ticket:before { content:"Ticket";}

	#body.tc .concert-item ul.concert-detail li.date:before   { content:"日期"; }
	#body.tc .concert-item ul.concert-detail li.time:before   { content:"時間"; }
	#body.tc .concert-item ul.concert-detail li.venue:before  { content:"地點"; }
	#body.tc .concert-item ul.concert-detail li.ticket:before { content:"票務";}

	#body.sc .concert-item ul.concert-detail li.date:before   { content:"日期"; }
	#body.sc .concert-item ul.concert-detail li.time:before   { content:"时间"; }
	#body.sc .concert-item ul.concert-detail li.venue:before  { content:"地点"; }
	#body.sc .concert-item ul.concert-detail li.ticket:before { content:"票务";}


	
	/*  4 box guide
	---------------------------------------------------------------------------- */
	.concert-item .section 	{ clear:both; padding:0px; margin:0px; }
	.concert-item .col 		{ display:block; float:left; margin: 1% 0 1% 1%; overflow:hidden; }
	.concert-item .col:first-child { margin-left: 0; }

	/*  GROUPING  */
	.concert-item .group:before,
	.concert-item .group:after 		{ content:""; display:table; }
	.concert-item .group:after 		{ clear:both;}
	.concert-item .group 			{ zoom:1; /* For IE 6/7 */ }

	/*  GRID OF FOUR  */
	.concert-item .span_4_of_4 { width: 100%;}
	.concert-item .span_3_of_4 { width: 74.75%;} 
	.concert-item .span_2_of_4 { width: 49.5%;}
	.concert-item .span_1_of_4 { width: 24.25%;}

	.concert-item-half { background-image: url(images/demo-004.jpg); background-size:100%; background-repeat:no-repeat;}
	.concert-item-half.rt:after 	{ padding-bottom:49% }
	.concert-item-half:after 		{ content: ""; display:block; padding-bottom:100%; }

	.concert-item .section .gray		{ background-color:#ececec; transition: all 0.3s ease-out; cursor:pointer;
											-webkit-border-bottom-right-radius: 20px;
												-moz-border-radius-bottomright: 20px;
													border-bottom-right-radius: 20px;}
	.concert-item .section:hover .gray	{ background-color:#666; color:#fff;}
	.concert-item .section:hover { cursor:pointer;}


	/*  4 box ( Gary information box)
	---------------------------------------------------------------------------- */
	.concert-item .info-d { display:block;}
	.concert-item .info-m { display:none;}

	.hidden-box { display:none}



	/* ==========================================================================
		Media Style
	============================================================================= */
	
	@media only screen and (max-width: 1250px) {
	.concert-item .info-d { display:none;}
	.concert-item .detail-box-m.info-m { display:block;}
	.concert-item .detail-box-m  { background-color:#ececec; margin:1% 0 0 0; padding:15px 20px }


	.concert-item .span_2_of_4 { width: 66%; float:left; margin-left:0}
	.concert-item .span_1_of_4 { width: 33%; float:right}

	.concert-item-half.rt:after 	{ padding-bottom:49% }

	.hidden-box { display:block; width:100%; background-color:#fff; margin-top:-16px; height:20px}

	}


