
	.m-show-media { display:none}

	footer .footer-pos	{ padding:80px 0 }

	footer ul.legal-link 		{ margin:50px 0 0  0; padding:0 0 10px 0} 
	footer ul.legal-link li 	{ margin:0; padding:0; list-style:none; display:inline-block;} 
	footer ul.legal-link li:after				{ content:"•"; padding:0 10px; color:#b20837;} 
	footer ul.legal-link li:last-child:after	{ content:""; padding-left:0;} 

	footer .copyright { line-height:1.8; padding-right:20px; padding-bottom:20px }

	footer .corner-top-right 	{	-webkit-border-top-right-radius: 20px;
										-moz-border-radius-topright: 20px;
											border-top-right-radius: 20px;}
    
    footer .left-col			{ width:30%}
    footer .left-col .footer-logo-d	{ width:300px }
    footer .right-col				{ width:70% }
    footer .right-col .f-btn1 img 	{ width:50px; height:50px; border-radius:50%; }
 	footer .right-col .f-btn3 img 	{ width:35px; height:auto}

 	footer .right-col .f-btn1 img,
 	footer .right-col .f-btn2 img,
 	footer .right-col .f-btn3 img,
 	footer .right-col .f-btn4 img 	{ position:absolute; top:15px; left:15px}

 	footer .right-col .square-sm:hover 				{ background-color:#ccc;}
 	footer .right-col .square-sm:hover .f-btn-txt 	{ color:#666;}

	.square-sm			{ position:relative; width:16%; background-color:#fff; float:left; margin-right:1%; transition: all 0.3s ease-out; cursor:pointer;}
	.square-sm:after 	{ content: ""; display:block; padding-bottom:100%; }
	.content-sm			{ position:absolute; width:100%; height:100%;}	

	footer .four-btn-txtpos { padding:0 0 15px 15px; line-height:1.2;  font-family:'robotomedium';}
	footer .job-title   	{ font-family: 'robotoregular';}

	footer .btn-blk-d    { display:block;}
	footer .btn-blk-m    { display:none;}

	footer table.table-4btn-m  			{ width:100%}
	footer table.table-4btn-m tr td 	{ width:50%; text-align:left; vertical-align:top; background-color:#fff;
										  -webkit-border-top-right-radius: 10px;
											  -moz-border-radius-topright: 10px;
											      border-top-right-radius: 10px;}
	footer table.table-inner-m			{ width:100%}
	footer table.table-inner-m tr td.left 	{ width:20%; text-align:left; vertical-align:top; background-color: transparent; }
	footer table.table-inner-m tr td.right 	{ text-align:left; vertical-align:middle;  background-color: transparent; }
	footer table.table-4btn-m tr td:hover 	{ background-color:#ccc; cursor:pointer}
	footer table.table-inner-m .trey-img	{ border-radius:50%;  width:67%; height:auto}


	table.logo-blk-m { display:none}
	.logo-for1200  	 { display:none}
	/* ==========================================================================
		Media Style
	============================================================================= */

	@media only screen and (max-width: 1300px) {
  	footer .footer-pos			{ padding:50px 0 } 
    footer .left-col .footer-logo-d	{ width:230px }
    footer .left-col			{ width:40%}
    footer .right-col			{ width:80% }

	.square-sm			{ width:20%; }
	}


	@media only screen and (max-width: 1200px) {
	footer .footer-pos	{ padding:50px 0 }
	footer .div-table .left-col	{ display:none}
    footer .right-col			{ width:100% }
	footer ul.legal-link 		{ margin:20px 0 0  0; }
	
	.square-sm			{ width:18%; }
	.logo-for1200 		{ width:25%; height:auto; display:block; padding-top:20px}
	}

	@media only screen and (max-width: 800px) {
	footer .footer-pos	{ padding:30px 0 50px 0 }

	footer .btn-blk-d     { display:none;}
	footer .btn-blk-m     { display:block;}
	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 	
	.square-sm				{ width:13%; }
	.logo-for1200 			{ width:15%; height:auto; }

	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	footer .btn-blk-d    { display:block;}
	footer .btn-blk-m    { display:none;}
	.logo-for1200 		 { width:20%; height:auto; }
	}

	@media only screen and (max-width:667px) {
	table.logo-blk-m { padding-top:20px; width:100%; border:0; display:block;} 
	table.logo-blk-m tr td.logo-blk-col-left	{ text-align:left; vertical-align:middle; width:40%;  padding-right:30px; border-right: 5px solid #fff }
	table.logo-blk-m tr td.logo-blk-col-right	{ text-align:left; vertical-align:middle; padding-left:30px; border-right: 5px solid #ececec }  
	table.logo-blk-m tr td.logo-blk-col-right .fa	{ font-size:20px; padding-right:30px}  
	table.logo-blk-m tr td.logo-blk-col-right a .fa { color:#fff; padding-top:0px}
	table.logo-blk-m tr td.logo-blk-col-right a:hover .fa { color:#b20837; transition: all 0.3s ease-out;}
	.logo-for1200 		{ width:25%; height:auto; display:none;}

	body.info footer .footer-pos	{ padding-bottom:90px }

	}


