
	

	.general a 			{ color:#124b98; transition: all 0.3s ease-out; text-decoration:underline;}
	.general a:hover 	{ color:#000;}

	.general img { width:100%; height:auto;}
  	.general hr { height:1px; background-color:#ececec; border:none; margin:2% 0;}


	.general .g-title-blk   { margin-bottom:50px; border-bottom:5px solid #ebebeb}
	.general .g-item-blk	{ padding:20px 0; border-bottom:1px solid #ebebeb}
	

	/* General template - left content, right photo */
	.content-left      {}
	.content-left img       { margin-top:8px}
	.content-left .cl-left  { width:calc(70% - 5%); float:left; padding-right:5%;} 
	.content-left .cl-right { width:30%; float:left;} 



	/* General template - left photo, right content */
	.content-right       {}
	.content-right img      { margin-top:8px}
	.content-right .cr-left { width:30%; float:left;} 
	.content-right .cr-right{ width:calc(70% - 5%); float:left; padding-left:5%;} 
	.enlarge-img-blk 		{ line-height:0; position:relative;}

	.caption { margin-top:10px; line-height:1.6;}


  	/* General template - ul li */
  	.general ul   	{ margin:0px; padding:0px; text-indent:0;}
  	.general ul li  { margin:0px 0px 0px 20px; padding:0; line-height:1.8; list-style-type:disc;}

	
	/* 2 col responsive table */
	.general .col2-table-row { display:table; table-layout:fixed; height:100%; width:100%;}
	.general .col2-table-row .table-col { display:table-cell; float:none; height:100%; padding:10px; border-bottom:1px solid #fff; vertical-align:top;}
	.general .col2-table-row:nth-child(odd)  { background-color:#dedede}
	.general .col2-table-row:nth-child(even) { background-color:#e7e7e7}
	.general .col2-table-row .field   { text-align:right; width:25%;
	                                    background-color:#124b98; color:#fff;} 
	.general .col2-table-row .detail  { width:75%}
	  

	/* 2 col responsive table */
	.general .col2-table-halfRow { display:table; table-layout:fixed; height:100%; width:100%;}
	.general .col2-table-halfRow .table-col { display:table-cell; float:none; height:100%; padding:20px 0;
	                                          background-color:#fff; vertical-align:top;}
	.general .col2-table-halfRow .half-col:nth-child(odd)    { width:48%; padding-right:2%} 
	.general .col2-table-halfRow .half-col:nth-child(even)   { width:48%; padding-left:2%} 
	.general .col2-table-halfRow .table-col img { margin-bottom:10px}
	.general .col2-table-halfRow .half-col .enlarge-img-blk .enlarge-icon { bottom:10px}

	/* General template - color table style */
	.general table.gen        { text-align:left; vertical-align:top; margin:1% 0 0 0;}
	.general table.gen th     { background-color:#124b98; padding:1% 2%; color:#fff; text-align:left; vertical-align:top; }
	.general table.gen tr.even td { background-color:#dedede; padding:1% 2%; border-bottom:1px solid #fff; text-align:left; vertical-align:top; }
	.general table.gen tr.odd td  { background-color:#e7e7e7; padding:1% 2%; border-bottom:1px solid #fff; text-align:left; vertical-align:top; }

	/* General template - nude table style */
	.general table.nude         { text-align:left; vertical-align:top; margin:0}
	.general table.nude th       	{ background-color:#fff; padding:0; color:#333; text-align:left; vertical-align:top; color:#666; }
	.general table.nude tr.even td  { background-color:#fff; padding:0; border-bottom:1px solid #fff; text-align:left; vertical-align:top; }
	.general table.nude tr.odd td   { background-color:#fff; padding:0; border-bottom:1px solid #fff; text-align:left; vertical-align:top; }


	/* General template - Grey box & color box */
	.general .greyBox   { background-color:#dedede; padding:20px 25px; margin:1% 0 0 0}
	.general .colorBox  { background-color:#124b98; padding:20px 25px;  margin:1% 0 0 0; color:#fff;}
	.general .colorBox  a { color:#fff; text-decoration:underline;}
	.general .colorBox  a:hover { color:#ccc; text-decoration:underline;}
	.general .colorBox h2 { color:#fff;}

	/* Small Image Column */
	.sm-img { clear:both; padding:0px; margin:0px;}

	.sm-img .col { display:block; float:left; margin: 1% 0 1% 1.6%;}
	.sm-img .col:first-child { margin-left: 0; }
	.sm-img .col:nth-child(4n+1)  { margin-left: 0;}

	.sm-img .group:before,
	.sm-img .group:after { content:""; display:table; }
	.sm-img .group:after { clear:both;}
	.sm-img .group { zoom:1; }

	.sm-img .span_1_of_4 { width:23.8%; height:180px; }

	/* Action Button */
	a.button .g-btn { padding:10px 20px; display:block; float:left; position:relative; z-index:2;
					  background-color:#333; color:#fff; transition: all 0.3s ease-out;}
	a.button:hover .g-btn { background-color:#ccc; color:#666;}

	/* For Detail Inside Page */
	.general.detail h1 { color:#ba2950 }
    .g-title-blk   { margin-bottom:50px; border-bottom:5px solid #ebebeb}
    .title-col1 { width:60px; float:left}
    .title-col2 { width:calc(100% - 60px); float:left}

    .detail-video-content {padding:30px 0}

	/* For Detail Inside Page (btn back) */
    .btn-back { width:45px; height:45px; cursor: pointer;
                    -webkit-border-radius: 50px;
                       -moz-border-radius: 50px;
                            border-radius: 50px; transition: all 0.3s ease-out;
                        background:#999 url(images/icon-back.svg) no-repeat;}
    .btn-back:hover { background-color:#ba2950; cursor:pointer}



  	/* • Image Scale */
  	.general .img-scale70  { width:70%; height:auto;}
  	.general .img-scale60  { width:60%; height:auto;}
  	.general .img-scale50  { width:50%; height:auto;}
  	.general .img-scale40  { width:40%; height:auto;}


  	@media only screen and (max-width: 1024px) {
  	.general .img-scale70,
  	.general .img-scale60,
  	.general .img-scale50,
  	.general .img-scale40  { width:100%; height:auto;}
  	}


  	/* • Video */
  	.videoWrapper           { position:relative; padding-bottom:56.25%; /* 16:9 */ height:0;}
  	.videoWrapper iframe    { position:absolute; top:0; left:0; width:100%; height:100%; }

  	.videoWrapper.sm           { position:relative; left:20%; padding-bottom:33.75%; /* 16:9 */ height:0; width:60%;
                               background-image:url(images/pattern-018.svg); background-repeat:no-repeat;}
  	.videoWrapper.sm iframe    { position:absolute; top:0; left:0; width:100%; height:100%; }


	@media only screen and (max-width: 1024px) {
  	.videoWrapper.sm           { left:0%; padding-bottom:56.25%; /* 16:9 */ width:100%; }
	}
	
	/* ==========================================================================
		Media Styles
	============================================================================= */


	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.sm-img .span_1_of_4 { width:32.26%; height:180px; }
	.sm-img .col:nth-child(4n+1)  { margin-left: 1.6%;}
	.sm-img .col:nth-child(3n+1)  { margin-left: 0;}

	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	.sm-img .span_1_of_4 { width:49.2%; height:180px; }
	.sm-img .col:nth-child(2n+1)  { margin-left: 0;}
	}


	@media only screen and (max-width: 767px) {
	.general .g-title-blk   { margin-bottom:25px;}

  	.content-left .cl-left { width:100%; float:left; padding-right:0; margin-bottom:20px} 
  	.content-left .cl-right{ width:100%; float:left; padding-right:0;} 
  	.content-right .cr-left { width:100%; float:left;  margin-bottom:20px} 
  	.content-right .cr-right{ width:100%; float:left; padding-left:0;} 

  	.general .col2-table-row { display:block; table-layout:inherit; width:100%; height:100%; border:none}
  	.general .col2-table-row .table-col { display:block; float:inherit; height:100%; padding:inherit; border-bottom:none;}
  	.general .col2-table-row .field   { width:90%; padding:3% 5%; text-align:left; line-height:1.4} 
  	.general .col2-table-row .detail  { width:90%; padding:3% 5%;}
  	.general .col2-table-row:nth-child(odd)  { background-color:#dbdbdb; }
  	.general .col2-table-row:nth-child(even) { background-color:#dbdbdb; }

  	/* • 2 col responsive table */
  	.general .col2-table-halfRow { display:block; table-layout:inherit;  height:100%; width:100%;}
  	.general .col2-table-halfRow .table-col { display:block; float:inherit; height:100%; padding:inherit;}
  	.general .col2-table-halfRow .half-col:nth-child(odd)    { width:100%; padding-right:0%; padding-bottom:20px} 
  	.general .col2-table-halfRow .half-col:nth-child(even)   { width:100%; padding-left:0%; padding-bottom:20px;}
  	.general .col2-table-halfRow .table-col img { margin-bottom:10px}


	/* Small Image Column */
	.sm-img .span_1_of_4 { width:49.2%; height:160px; }
	.sm-img .col:nth-child(2n+1)  { margin-left: 0;}
  
    /* For Detail Inside Page */
	.g-title-blk   { margin-bottom:25px;}
    .title-col1 { width:100%; float:left;  margin-bottom:20px; color:#fff;}
    .title-col2 { width:100%; float:left}

	/* For Detail Inside Page (btn back) */
    .btn-back { width:100%; height:auto; cursor: pointer; 
                    -webkit-border-radius: 0;
                       -moz-border-radius: 0;
                            border-radius: 0; transition: all 0.3s ease-out;
                        background-color:#999; background-image:none; padding:5px 0; color:#fff;}
    .btn-back:hover { background-color:#ba2950; cursor:pointer}
    html #body.en .btn-back:after { content:"< BACK"; padding-left:10px; }
    html #body.tc .btn-back:after { content:"< 返回"; padding-left:10px; }

	}


	@media only screen and (max-width: 479px) {
	.sm-img .span_1_of_4 { height:100px; }

	}

