
    /* Base
    ================================================== */
    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
    abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
    strike,strong,tt,var,b,u,i,center,ol,ul,li,fieldset,form,label,
    legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
    embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
    summary,time,mark,audio,video {
        margin:0; padding:0; border:0; vertical-align:baseline;}

    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}

    ol,ul           { list-style:none; }
    table           { border-collapse:collapse; border-spacing:0;}

    img.img-scale   { max-width:100%; height:auto;}

    a,a:visited,a:focus { text-decoration:none; outline:0;}
    a:hover             { text-decoration:none;}

    .bg-darkGrey { background-color:#333 }
    .bg-teal     { background-color:#2f3238}   
    .bg-red      { background-color:#ba2950 }

    .txt-red    { color:#ba2950}
    .txt-blue   { color:#124b98}
    .txt-white  { color:#fff}

    .txt-center { text-align:center}
    .txt-left   { text-align:left}
    .txt-right  { text-align:right}


    /* Template
    ================================================== */
    .full-wrapper   { width:100%;}
    .inner-wrapper  { max-width:1200px; margin:0 auto;}
    .inner-wrapper .main-content-pos { padding:50px 25px; min-height:800px}
    .inner-wrapper .main-masonry-pos { padding:50px 25px; min-height:800px}
    .inner-wrapper .main-form-pos     { padding:50px 25px;}
    .inner-wrapper .main-calendar-pos { padding:50px 25px;}
    .inner-wrapper .main-contact-pos  { padding:50px 25px;}
    .inner-wrapper .main-index-pos    { padding:0 25px;}



    .hd-blk {  width:100%; height:260px; display:table; background:#666; }
    .hd-blk .hd-wrapper { display:table-cell; vertical-align:bottom }
    .hd-blk .hd-wrapper .hd-pos { max-width:1200px; margin:0 auto;}
    .hd-blk .hd-wrapper .hd-pos h1 { color:#fff; padding:0 25px 20px 25px}

    #footer { background-color:#000; color:#ccc; padding:20px 0; width:100%;}
    #footer .inner-wrapper { max-width:1150px; padding:0 25px;}


    /* Clearing
    ================================================== */
    .container:after { content: "\0020"; display:block; height:0; clear:both; visibility:hidden; }

    .clearfix:before,.clearfix:after,.row:before,.row:after {
    content: '\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height: 0;}

    .row:after,.clearfix:after { clear:both;}
    .row,.clearfix { zoom: 1;}

    .clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}


    /* Nice Scroll | .nice-scroll
    ================================================== */
    body.nice-scroll { position: relative;}
    body.nice-scroll:not(.layout-boxed) { padding-right:10px !important; overflow:hidden;}

    .nice-scroll #configurator,.nice-scroll #Sliding-top a.sliding-top-control,.nice-scroll .fixed-nav.fixed-nav-next { margin-right:10px;}
    .nice-scroll .nicescroll-rails { background:#666;  z-index:9001 !important;}


    /* #Load more button
    ================================================== */
    .pager_lm { background: url("images/preloader.gif") no-repeat center center; text-align:center;}
    .pager_lm .pager_load_more { margin:0;}
    .pager_lm.loading { min-height:49px;}
    .pager_lm:not(.loading) { background: none;}


/* =====================================================================================================
     Media 
===================================================================================================== */

    @media only screen and (max-width: 1024px) {
    .hd-blk .hd-wrapper .hd-pos    { max-width:100%; }
    .hd-blk .hd-wrapper .hd-pos h1 { padding:150px 25px 20px 25px;}
    .hd-blk { width:100%; height:auto; display:block;}
    .hd-blk .hd-wrapper { display:block;}
    
    .inner-wrapper .main-content-pos { padding-top:30px}
    .inner-wrapper .main-masonry-pos { padding-top:30px}
     .inner-wrapper .main-form-pos     { padding-top:30px}
    .inner-wrapper .main-calendar-pos {  padding-top:30px}
 
    #footer .inner-wrapper { max-width:inherit; width:calc(100% - 50px); padding:0 25px;}

    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {   
    .inner-wrapper.main-content-pos { min-height:300px }
    }


    @media only screen and (max-width: 745px) {
    .hd-blk .hd-wrapper .hd-pos h1    { padding:100px 25px 20px 25px;}
    .inner-wrapper .main-content-pos  { min-height:auto; padding-top:20px; padding-bottom:40px}
    .inner-wrapper .main-masonry-pos  { min-height:auto; padding-top:20px; padding-bottom:40px}
    .inner-wrapper .main-form-pos     { padding-top:20px; padding-bottom:40px}
    .inner-wrapper .main-calendar-pos { padding-top:20px; padding-bottom:40px}
    .inner-wrapper .main-contact-pos  { padding-top:20px; padding-bottom:40px}
    .inner-wrapper                    { width:100%;}

    }

