

	.index .metis .tp-tab-title  		{ width:100%; }
    .index .metis .tp-tab-title-mask 	{ width:600px;}
    .index .metis .tp-tab-mask 		{ max-height:300px; width:400px!important;}


	/* bottom 3 col (Common) =======================================================*/
	#promo { padding:40px 0; background-color:#333}
 	#promo h2 { color:#ba2950; }
 
 	#promo .intro,
 	#promo .news,
 	#promo .links  { width:30.66%; margin-left:4%; display: block; float:left;}
	#promo .intro  { margin-left:0}
 	
 		/* Intro (bottom 1st col) */
 		.intro { color:#fff}


		/* Recent posts (bottom 2nd col) */

		.recent-posts {}
		.recent-posts ul {}
		.recent-posts ul li 			{ margin-bottom:30px;}
		.recent-posts ul li:last-child  { margin-bottom:0;}
		.recent-posts ul li a 			{ text-decoration:none; color:#fff}
		.recent-posts ul li .desc 		{ margin-right:80px; padding:5px 15px; position:relative; min-height:70px;
										  background: rgba(0,0,0,.1);}
		.recent-posts ul li .desc:after { content: ""; display:block; position:absolute; right:0; top:0;
										  width:4px; height:100%;}

		.recent-posts ul li .desc .post-intro { position:relative; z-index:2; margin-bottom:3px; padding:10px 0;
									   border-bottom-width:1px; border-style:solid;}
		.recent-posts ul li .desc .date { position:relative; z-index:2;  padding:5px 0; color:#fff;}
		.recent-posts ul li .photo { width:80px; height:80px; line-height:0; text-align:center; float:right; position: relative;}
		.recent-posts ul li a:hover .post-intro,
		.recent-posts ul li a:hover .desc .date { color: #fff }
		.recent-posts ul li a:hover .desc:after { width: 100%; }
		.recent-posts ul li .desc:after {background-color: #ba2950;}

		/* Recent posts Animation */
		.recent-posts ul li a:hover .post-intro,
		.recent-posts ul li a:hover .desc .date,
		.recent-posts ul li a:hover .desc:after {
		    -webkit-transition: all .3s ease-in-out;
		    -moz-transition: all .3s ease-in-out;
		    -o-transition: all .3s ease-in-out;
		    transition: all .3s ease-in-out;}

		/* END Recent posts */

		/* Quick Link (bottom 3rd col) */
		.links-pos ul li 	{  position:relative; list-style:none; padding:0 0 15px 0; margin:0 0 15px 0; border-bottom:1px solid #3e3e3e;}
		.links-pos ul a li 	{ text-decoration:none}
		.links-pos ul a li 	{ padding-left:0; color:#fff; transition: all 0.3s ease-out;}
		.links-pos ul a:hover li { padding-left:10px; color:#ba2950; border-bottom:1px solid #ba2950;}
	
	/* END bottom 3 col =======================================================*/


/* ========================================================================
	Media (max-width:1024px)
=========================================================================== */

    @media only screen and (max-width:1024px) {
 	#promo .intro  { width:100%; border-bottom: 1px solid #ba2950; margin-bottom:30px; padding-bottom:30px;}
 	#promo .news   { width:47%; margin-left:0}
 	#promo .links  { width:47%; margin-left:6%}

	/* Recent posts */
    .news-pos  { padding:0}
    .recent-posts ul li .desc   { margin-right:100px;}
    .recent-posts ul li .photo  { width:100px; height:100px;}
	.links-pos ul a:hover li     { padding-left:0}

    }


/* ========================================================================
	Media (max-width: 767px)
=========================================================================== */

    @media only screen and (max-width: 767px){
 	#promo .intro  { width:100%; border-bottom: 1px solid #ba2950; margin-bottom:30px; padding-bottom:30px}
 	#promo .news   { width:100%; padding-bottom:60px; border-bottom: 1px solid #ba2950;}
 	#promo .links  { width:100%; padding-top:40px; margin-left:0}
	
    }