
 
  select.news { background-color:#fff; color:#333; padding:10px; margin:-10px 0 20px 0; outline:none;
                width:150px; max-width:100%; display:block; font-size:14px;
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
                -webkit-appearance: none;
             -webkit-border-radius: 0;
                     border-radius: 0;
                        transition: all 0.3s ease-out; 
                         border-bottom:4px solid  #ba2950;
                         border-top: none;
                         border-left:none;
                         border-right:none;
                         background: url(images/icon-plus.svg) no-repeat right center;  }
 

  select:hover, select:active { background-color:#fff; color:#333;
                                border-bottom: 4px solid  #333;
                                   background: url(images/icon-minus.svg) no-repeat right center; }

  /* • News Index
  ------------------------------------------------------------------------- */
  .news-list h3 { color:#ba2950;}

  .news-list         { width:100%; height:100%; display:table; table-layout:fixed; margin-bottom:30px}
  .news-list .col-sm { height:100%; display:table-cell; float:none; vertical-align:top}

  .news-list .col-sm.col-left   { width:25%;  background-color:#666;}
  .news-list .col-sm.col-right  { width:75%;  background-color:#e7e7e7; transition: all 0.3s ease-out;}

  .news-list .col-sm.col-left>div  { padding:0 20px}
  .news-list .col-sm.col-right>div { padding:20px 30px;}

  .news-list .col-sm.col-right .inner-list-blk { width:100%; height:100%; display:table; table-layout:fixed;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm { height:100%; display:table-cell; float:none; vertical-align:top}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.cover { width:30%;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.cover>img { width:90%;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.intro { width:70%;}

  .news-list:hover .col-sm.col-right  { background-color:#ba2950; color:#fff; cursor:pointer}
  .news-list:hover h3 { color:#fff}



  /* • Date, month & week Style 
  ------------------------------- */
  .news-list-date, .news-list-month, .news-list-week { display:inline-block; line-height:normal; color:#fff;}
  .news-list-date  { font-size:70px; font-weight:200}
  .news-list-month { font-size:20px; padding-right:10px;} 
  .news-list-week  { font-size:15px; text-transform:uppercase;} 

  html #body.en .news-list-month:before {content:"."; padding:0 5px}
  html #body.tc .news-list-month:before {content:""; padding:0}




/* ==========================================================================
  = Media Style
============================================================================= */

  @media only screen and (max-width: 1024px) {
  select.news { margin:-15px 0 20px 0; width:33%}

  .news-list .col-sm.col-left   { width:30%; }
  .news-list .col-sm.col-right  { width:60%; }

  .news-list .col-sm.col-right .inner-list-blk { display:inline-block; table-layout:inherit;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm { display:inline-block;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.cover { width:100%;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.cover>img { width:50%; margin-bottom:20px}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.intro { width:100%;}
  .news-list-date  { font-size:55px;}
  .news-list-month { font-size:20px;} 
  .news-list-week  { font-size:15px;} 

  }

  @media only screen and (max-width: 767px) {
  select.news { margin:0px 0 20px 0; width:100%}

  .news-list         { display:block; table-layout:inherit;}
  .news-list .col-sm { display:block; table-layout:inherit;}

  .news-list .col-sm.col-left   { width:100%;}
  .news-list .col-sm.col-right  { width:100%;}
  .news-list .col-sm.col-right>div { padding:0;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.intro { width:calc(100% - 40px); padding:20px;}
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.cover>img { width:50%; margin:20px 0 0 20px}

  .news-list-date  { font-size:30px;}
  .news-list-month { font-size:20px;} 
  .news-list-week  { font-size:15px;} 
  .news-list .col-sm.col-right.m-pos { width:calc(100% - 40px); padding:20px }

  }


  @media only screen and (max-width: 480px) {
  .news-list .col-sm.col-right .inner-list-blk .in-col-sm.cover>img { width:100%; margin:0}
  }