	/* 	
	*, *:before, *:after {
	  box-sizing: border-box;
	} 
	*/


	.lighter-text {
	  color: #ABB0BE;
	}

	.main-color-text {
	  color: #ba2950;
	}

	nav.summary { padding: 10px 0 10px 0; background:#ececec; font-size: 16px; width:calc(100% - 20px); }
	nav.summary .navbar-left 	{ float:left}
	nav.summary .navbar-right 	{ float:right}
	nav.summary ul li 			{ display:inline; padding-left:20px;}
	nav.summary ul li a 		{ color:#666; text-decoration:none; transition: all 0.3s ease-out}
	nav.summary ul li a:hover 	{ color:#333;}

	.container  { margin:auto; width:80%;}
	.badge 		{ background-color: #ba2950; border-radius: 10px; color:white; display:inline-block; font-size:12px; line-height:1; padding:3px 7px;
				  text-align:center; vertical-align:middle; white-space: nowrap;}

	.shopping-cart { 	margin:0; float:right; width:320px; background-color:#fff; position:relative; right:20px;
	  					border-radius:3px; padding:20px; z-index:100;
	  						-webkit-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.08);
							   -moz-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.08);
								    box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.08);}
	.shopping-cart .shopping-cart-footer 	{   padding-bottom:0px; height:50px;
												font-size:18px; font-family: 'Raleway', sans-serif; font-weight:500}
	.shopping-cart .shopping-cart-footer .shopping-cart-total { float:right;}
	.shopping-cart .shopping-cart-items 	{ padding-top:5px;}
	.shopping-cart .shopping-cart-items li 	{ border-bottom: 1px dotted #ececec; padding-bottom:10px; margin-bottom:10px; }
	.shopping-cart .shopping-cart-items img { float:left; margin-right: 12px; width:80px; height:auto;}
	.shopping-cart .shopping-cart-items .item-name 		{ display:block; line-height:normal;}
	.shopping-cart .shopping-cart-items .item-price 	{ color:#ba2950; margin-right:8px;}
	.shopping-cart .shopping-cart-items .item-quantity 	{ color:#666;}
	.org-prince { display:inline-block; text-decoration:line-through; color:#999;  margin-right:20px}
	.sp-price 	{ display:inline-block; }

	/*.shopping-cart:after {  bottom:100%; left:50%; border: solid transparent; content: " ";  height:0; width:0; position:absolute;
	 						pointer-events: none; border-bottom-color:white; border-width: 8px; margin-left: -8px;}*/

	.cart-icon 			{ color: #666; font-size:24px;  margin-right:7px; float:left;}

	.button.checkout 	{ background:#ba2950; color:white; text-align:center; padding:10px; text-decoration:none; display:block; border-radius:3px;
				  		 font-size:16px; margin:20px 0 5px 0;  transition: all 0.3s ease-out}
	.button.checkout:hover { background: #333}


	.button.add 		{ background:#666; color:white; text-align:center; padding:5px; text-decoration:none; display:block; border-radius:3px;
	  				 	  margin: 25px 0 0 0;  transition: all 0.3s ease-out; width:50%}
	.button.add:hover  { background: #ba2950; color:#fff;}

	.clearfix:after { content: "";  display: table; clear: both;}
	
	.button.pay 		{ float:left; text-align:center; padding:10px 20px; text-decoration:none; display:block; border-radius:3px;
				  		 font-size:16px; margin:20px 0 5px 10px;  transition: all 0.3s ease-out}
	.button.pay:hover 	{ background: #333}

	.button.pay.red 		{ background:#ba2950; color:#fff;}
	.button.pay.red:hover 	{ background: #333}

	.button.pay.gray 		{ background:#ccc; color:#666;}
	.button.pay.gray:hover 	{ background:#666; color:#fff;}

    @media only screen and (max-width: 745px) {
   	nav.summary 	{ width:100%; }
	.shopping-cart 	{ right:0;}
    }