	
	.style { background-color:#ececec; transition: all 0.3s ease-out; cursor:pointer;
			-webkit-border-top-right-radius: 50px;
				-moz-border-radius-topright: 50px;
					border-top-right-radius: 50px;}

	.ph-title 	{ padding:20px; margin-bottom:5px}
	.no 		{ padding:5px 10px 5px 20px; color:#fff;
				-webkit-border-top-right-radius: 5px;
					-moz-border-radius-topright: 5px;
						border-top-right-radius: 5px; }

	.ph-cover { position:absolute; bottom:0}

	.style:hover 			{ background-color:#333; }
	.style:hover .ph-title  { color:#fff;}


	/* ==========================================================================
		Media
	============================================================================= */

	@media only screen and (max-width: 1200px) {
	.style { -webkit-border-top-right-radius: 20px;
				 -moz-border-radius-topright: 20px;
				 	 border-top-right-radius: 20px;}
	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	.ph-item .font-m 			{ font-size:15px}
	}

	@media only screen and (max-width:667px) {
	.ph-cover { position:relative; bottom:inherit; padding-top:20px}


	}