

	.ph-item 			{ width:100%; }	
	.ph-item .section 	{ clear:both; padding:0px; margin:0px;}

	/*  COLUMN SETUP  */
	.ph-item .col 		{ display:block; float:left; margin: 1% 0 1% 2%; height:350px; }
	.ph-item .col:nth-child(3n+1) { margin-left: 0; }/*edit*/

	/*  GROUPING  */
	.ph-item .group:before,
	.ph-item .group:after { content:""; display:table; }
	.ph-item .group:after { clear:both;}
	.ph-item .group { zoom:1; /* For IE 6/7 */ }

	.ph-item .width { width: 32%;} /*edit*/


	/* ==========================================================================
		Media
	============================================================================= */

	@media only screen and (max-width: 1250px) {
	.ph-item .width { width: 32%;}
	.ph-item .col:nth-child(4n+1) { margin-left: 2%; }
	.ph-item .col:nth-child(3n+1) { margin-left: 0; }
	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	.ph-item .width { width: 32%;}
	.ph-item .col:nth-child(4n+1) { margin-left: 2%; }
	.ph-item .col:nth-child(3n+1) { margin-left: 0; }
	.ph-item .col 		{ height:320px; }

	}

	@media only screen and (max-width:667px) {
	.ph-item .width { width: 100%;}
	.ph-item .col:nth-child(4n+1) { margin-left: 0; }
	.ph-item .col:nth-child(3n+1) { margin-left: 0; }
	.ph-item .col 		{ margin: 1% 0 20px 0; height:auto;}

	}