	
	.pushy ul 				{ margin:0; padding:0}
	.pushy ul li 			{ margin:0; padding:0;}

	.pushy ul:first-child   { margin-top: 10px;}

	.pushy ul li ul			{ margin:0; padding:0; }
	.pushy-submenu ul 		{ transition: max-height 0.2s ease-in-out; }
	.pushy-submenu ul li 	{ list-style-type:disc; list-style-position:inside; padding-left:35px; color:#fff;}                   
	.pushy-submenu ul li a  { display:inline-block; padding:10px 10px 10px 0}
	
	.level3 div 				{ padding:8px 0;}
	.level3 div:before 			{ content:"•"; }
	.level3  					{ margin-left:-20px}
	.level3 ul  				{ margin:0!important; padding:0; }
	.level3 ul li:first-child 	{ padding-top:0px}
	.level3 ul li:last-child  	{ padding-bottom:10px}
	.level3 ul li 				{ list-style-type:circle; list-style-position:inside; margin:0; padding:10px 0 5px 40px; 
						  		  font-size:12px;}
	.level3 ul li a 			{ padding-left:0px; width:80%; padding:0; vertical-align:top;}

	.level1 { font-family: 'robotomedium';}
	.level1:hover { text-indent:1em }
	.pushy-submenu.blue 		{ background-color:#003399}
	.pushy-submenu.blue .level2 { background-color:#011e57}
	.pushy-submenu.blue ul.level2 a 	{ padding:0; margin:0}
	.pushy-submenu.blue ul.level2 a li 	{ padding:10px 35px; margin:0;} 
	.pushy-submenu.blue ul.level2 a:hover li 			{ color:#c1d4fc; transition: all 0.3s ease-out; cursor:pointer} 
	.pushy-submenu.blue ul.level2 li a.level3-title 	{ padding-top:10px; padding-bottom:10px; cursor:default;}
	.pushy-submenu.blue .level3 ul li  			{ color:#c1d4fc;} 
	.pushy-submenu.blue .level3 ul li a 		{ color:#c1d4fc;}
	.pushy-submenu.blue .level3 ul li a:hover   { color:#fff;}
	.pushy-submenu.blue ul.level2 a li,
	.pushy-submenu.blue .pushy-link.level3-blk { border-bottom:1px solid #082d76;}

	.pushy-submenu.red 			{ background-color:#b20838}
	.pushy-submenu.red .level2 	{ background-color:#760626}
	.pushy-submenu.red ul.level2 a 		{ padding:0; margin:0}
	.pushy-submenu.red ul.level2 a li 	{ padding:10px 35px; margin:0; } 
	.pushy-submenu.red ul.level2 a:hover li 		{ color:#c88a9c; transition: all 0.3s ease-out; cursor:pointer} 
	.pushy-submenu.red ul.level2 li a.level3-title 	{ padding-top:10px; padding-bottom:10px; cursor:default;}
	.pushy-submenu.red .level3 ul li  		 { color:#c88a9c;} 
	.pushy-submenu.red .level3 ul li a 		 { color:#c88a9c;}
	.pushy-submenu.red .level3 ul li a:hover { color:#fff;}
	.pushy-submenu.red ul.level2 a li,
	.pushy-submenu.red .pushy-link.level3-blk { border-bottom:1px solid #8a0b2f;}

	.pushy-submenu.green 			{ background-color:#80bb47}
	.pushy-submenu.green .level2 	{ background-color:#538523}
	.pushy-submenu.green ul.level2 a 		{ padding:0; margin:0}
	.pushy-submenu.green ul.level2 a li 	{ padding:10px 35px; margin:0; } 
	.pushy-submenu.green ul.level2 a:hover li 		{ color:#98d55d; transition: all 0.3s ease-out; cursor:pointer} 
	.pushy-submenu.green ul.level2 li a.level3-title 	{ padding-top:10px; padding-bottom:10px; cursor:default;}
	.pushy-submenu.green .level3 ul li  		{ color:#98d55d;} 
	.pushy-submenu.green .level3 ul li a 		{ color:#98d55d;}
	.pushy-submenu.green .level3 ul li a:hover  { color:#fff;}
	.pushy-submenu.green ul.level2 a li,
	.pushy-submenu.green .pushy-link.level3-blk { border-bottom:1px solid #60982a;}

	.pushy-submenu.yellow 			{ background-color:#e0b300}
	.pushy-submenu.yellow .level2 	{ background-color:#c29c03}
	.pushy-submenu.yellow ul.level2 a 		{ padding:0; margin:0}
	.pushy-submenu.yellow ul.level2 a li 	{ padding:10px 35px; margin:0;} 
	.pushy-submenu.yellow ul.level2 a:hover li 		{ color:#7b6304; transition: all 0.3s ease-out; cursor:pointer} 
	.pushy-submenu.yellow ul.level2 li a.level3-title 	{ padding-top:10px; padding-bottom:10px; cursor:default;}
	.pushy-submenu.yellow .level3 ul li  		{ color:#7b6304;} 
	.pushy-submenu.yellow .level3 ul li a 		{ color:#7b6304;}
	.pushy-submenu.yellow .level3 ul li a:hover { color:#fff;}
	.pushy-submenu.yellow ul.level2 a li,
	.pushy-submenu.yellow .pushy-link.level3-blk { border-bottom:1px solid #d4ac0b;}

	.pushy-submenu.cyan 			{ background-color:#02a9d3}
	.pushy-submenu.cyan .level2 	{ background-color:#006e8a}
	.pushy-submenu.cyan ul.level2 a 		{ padding:0; margin:0}
	.pushy-submenu.cyan ul.level2 a li 	{ padding:10px 35px; margin:0;} 
	.pushy-submenu.cyan ul.level2 a:hover li 		{ color:#0fb5df; transition: all 0.3s ease-out; cursor:pointer} 
	.pushy-submenu.cyan ul.level2 li a.level3-title 	{ padding-top:10px; padding-bottom:10px; cursor:default;}
	.pushy-submenu.cyan .level3 ul li  			{ color:#0fb5df;} 
	.pushy-submenu.cyan .level3 ul li a 		{ color:#0fb5df;}
	.pushy-submenu.cyan .level3 ul li a:hover  	{ color:#fff;}
	.pushy-submenu.cyan ul.level2 a li,
	.pushy-submenu.cyan .pushy-link.level3-blk { border-bottom:1px solid #04809f;}


	.pushy-submenu.dark-blue  {background-color: #0e2333; border-bottom: 1px solid #193245;} /*edit 20171219*/
	.pushy-submenu.grey 			{ background-color:#3f3f3f; border-bottom:1px solid #686868;}
	.pushy-submenu.grey .level2 	{ background-color:#444}
	.pushy-submenu.grey ul.level2 a 		{ padding:0; margin:0}
	.pushy-submenu.grey ul.level2 a li 		{ padding:10px 35px; margin:0; } 
	.pushy-submenu.grey ul.level2 a:hover li 		{ color:#999; transition: all 0.3s ease-out; cursor:pointer} 
	.pushy-submenu.grey ul.level2 li a.level3-title 	{ padding-top:10px; padding-bottom:10px; cursor:default;}
	.pushy-submenu.grey .level3 ul li  			{ color:#999;} 
	.pushy-submenu.grey .level3 ul li a 		{ color:#999;}
	.pushy-submenu.grey .level3 ul li a:hover  	{ color:#fff;}
	.pushy-submenu.grey ul.level2 a li,
	.pushy-submenu.grey .pushy-link.level3-blk { border-bottom:1px solid #525252;}

	ul.level4  		{ margin-top:15px!important}
	ul.level4 li  	{ margin-left:-20px!important; }



	.pushy 		{ position:fixed; width:300px; height:100%; top:0; z-index:9999; background:#333; overflow:auto; visibility:hidden;
    				-webkit-overflow-scrolling: touch;
    				/* enables momentum scrolling in iOS overflow elements */ }

	.pushy a 				{ display:block; color:#fff; padding:15px 30px; text-decoration:none; outline:0;}
	.pushy a:hover 			{ color: #fff;}

	.pushy.pushy-left 	{ left:0 }
	.pushy.pushy-right 	{ right:0 }

	/* Menu Movement */
	.pushy-left { -webkit-transform: translate3d(-300px, 0, 0);
	 				  -ms-transform: translate3d(-300px, 0, 0);
	 					  transform: translate3d(-300px, 0, 0); }

	.pushy-open-left #container,
	.pushy-open-left .push { 	-webkit-transform: translate3d(300px, 0, 0);
	  								-ms-transform: translate3d(300px, 0, 0);
	 								 	transform: translate3d(300px, 0, 0); }

	.pushy-right 	{ -webkit-transform: translate3d(300px, 0, 0);
	  					  -ms-transform: translate3d(300px, 0, 0);
	  						  transform: translate3d(300px, 0, 0);}

	.pushy-open-right #container,
	.pushy-open-right .push {  -webkit-transform: translate3d(-300px, 0, 0);
								   -ms-transform: translate3d(-300px, 0, 0);
								       transform: translate3d(-300px, 0, 0); }

	.pushy-open-left .pushy,
	.pushy-open-right .pushy { 	-webkit-transform: translate3d(0, 0, 0);
	  								-ms-transform: translate3d(0, 0, 0);
	  									transform: translate3d(0, 0, 0); }

	/* Menu Transitions */
	#container,
	.pushy,
	.push { transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);}

	/* Site Overlay */
	.site-overlay	{ display: none;}

	.pushy-open-left .site-overlay,
	.pushy-open-right .site-overlay { display:block; position:fixed; top:0; right:0; bottom:0; left:0; z-index:9998; background-color:rgba(0, 0, 0, 0.5);
									  	-webkit-animation: fade 500ms;
									  			animation: fade 500ms;}

	@keyframes fade {
	  0% 	{ opacity: 0; }
	  100% 	{ opacity: 1; }
	}
	@-webkit-keyframes fade {
	  0% 	{ opacity: 0; }
	  100% 	{ opacity: 1; }
	}

	/* Submenu Appearance */
	.pushy-submenu 		{ /* Submenu Icon */ }
	.pushy-submenu ul 	{ padding-left:15px; transition:max-height 0.2s ease-in-out;}
	.pushy-submenu ul .pushy-link 	{ transition: opacity 0.2s ease-in-out;}
	.pushy-submenu > a 	{ position:relative; }
	.pushy-submenu > a::after { content:'';  display:block; height:11px; width:8px; position:absolute; top:50%; right:15px;
	  							background: url("images/icon-arrow-menu.svg") no-repeat;
								  -webkit-transform: translateY(-50%);
								  	  -ms-transform: translateY(-50%);
								          transform: translateY(-50%);
								         transition: transform 0.2s; }


	.pushy-submenu > a.no-arrow::after { content:'';  display:block; height:11px; width:8px; position:absolute; top:50%; right:15px;
										 background-image:none;
										-webkit-transform: translateY(-50%);
								  	  -ms-transform: translateY(-50%);
								          transform: translateY(-50%);
								         transition: transform 0.2s; }



	/* Submenu Movement */
	.pushy-submenu-closed ul 			{ max-height:0; overflow:hidden;}
	.pushy-submenu-closed .pushy-link 	{ opacity:0 }
	.pushy-submenu-open 	{ /* Submenu Icon */}
	.pushy-submenu-open ul 	{ max-height:1000px;}
	.pushy-submenu-open .pushy-link { opacity:1;}
	.pushy-submenu-open a::after {
	  	-webkit-transform: translateY(-50%) rotate(90deg);
	  		-ms-transform: translateY(-50%) rotate(90deg);
	  			transform: translateY(-50%) rotate(90deg); }



	.no-csstransforms3d .pushy-submenu-closed ul { max-height:none; display:none;}

