
/* Buttons */
.error { margin-top:2%; font-style:italic; display:none }
.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--search {
	
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Reset Search Input */

.search__input,
.s-subscribe__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus,
.s-subscribe__input:focus {
	outline: none;
}


.search .fa-close,
.s-subscribe .fa-close { color:#fff; padding-right:10px; opacity:0.8}




/* Layout for search container */
.search,
.s-subscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(178, 8, 58, 0.9);
}

.js .search,
.js .s-subscribe {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.search::before,
.search::after,
.s-subscribe::before,
.s-subscribe::after {
	content: '';
	position: absolute;
	width: calc(100% + 15px);
	height: calc(100% + 15px);
	pointer-events: none;
	border: 1.5em solid #eeeeee;
}

.search::before,
.s-subscribe::before {
	top: 0;
	left: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

.search::after,
.s-subscribe::after {
	right: 0;
	bottom: 0;
	border-top-width: 0;
	border-left-width: 0;
}

.btn--search-close,
.btn--s-subscribe-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close,
.js .btn--s-subscribe-close {
	display: block;
}

.search__form,
.s-subscribe__form {
	margin: 5em 0;
}

.search__input,
.s-subscribe__input {
	font-family: inherit;
	font-size:8vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 75%;
	padding: 0.05em 0;
	color: #fff;
	border-bottom: 2px solid;
}
.s-subscribe__input {
	margin-top:2vw;
	font-size:5vw;
}
.search__input::-webkit-input-placeholder,
.s-subscribe__input::-webkit-input-placeholder{
	/* WebKit, Blink, Edge */
	opacity: 0.3;
	color: #fff;
}

.search__input::-moz-placeholder ,
.s-subscribe__input::-moz-placeholder{
	opacity: 0.3;
	/* Mozilla Firefox 19+ */
	color: #fff;
}

.search__input:-ms-input-placeholder,
.s-subscribe__input:-ms-input-placeholder{
	/* Internet Explorer 10-11 */
	opacity: 0.3;
	color: #fff;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration,
.s-subscribe__input::-webkit-search-cancel-button,
.s-subscribe__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear,
.s-subscribe__input::-ms-clear  {
	display: none;
}

.search__info,
.s-subscribe__info{
	font-size: 100%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
	color: #fff;
}

.search__related,
.s-subscribe__related{
	display: flex;
	width: 75%;
	pointer-events: none;
}

.search__suggestion,
.s-subscribe__suggestion{
	width: 33.33%;
	text-align: left;
}

.search__suggestion:nth-child(2),
.s-subscribe__suggestion:nth-child(2) {
	margin: 0 3em;
}

.search__suggestion h3,
.s-subscribe__suggestion h3 {
	font-size: 1.35em;
	margin: 0;
}

.search__suggestion h3::before,
.s-subscribe__suggestion h3::before{
	content: '\21FE';
	display: inline-block;
	padding: 0 0.5em 0 0;
}

.search__suggestion p,
.s-subscribe__suggestion p {
	font-size: 1.15em;
	line-height: 1.4;
	margin: 0.75em 0 0 0;
}

/************************/
/* Transitions 			*/
/************************/

.js .search,
.js .s-subscribe{
	visibility: hidden;
	/* pointer-events: none; */
	opacity: 0;
	transition: opacity 0.5s, visibility 0s ease-out 0.5s;
}

.js .search--open,
.js .s-subscribe--open {
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
	transition: opacity 0.5s, visibility 0s;
}

/* Border */
.search::before,
.search::after,
.s-subscribe::before,
.s-subscribe::after{
	transition: transform 0.5s;
}

.search::before,
.s-subscribe::before {
	transform: translate3d(-15px, -15px, 0);
}

.search::after,
.s-subscribe::after {
	transform: translate3d(15px, 15px, 0);
}

.search--open::before,
.search--open::after,
.s-subscribe--open::before,
.s-subscribe--open::after {
	transform: translate3d(0, 0, 0);
}

/* Close button */
.btn--search-close,
.btn--s-subscribe-close {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.search--open .btn--search-close,
.s-subscribe--open .btn--s-subscribe-close {
	z-index:10;
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

/* Search form with input and description */
.js .search__form,
.js .s-subscribe__form {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.js .search--open .search__form,
.js .s-subscribe--open .s-subscribe__form {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.search__suggestion,
.s-subscribe__suggestion {
	opacity: 0;
	transform: translate3d(0, -30px, 0);
	transition: opacity 0.5s, transform 0.5s;
}

.search--open .search__suggestion,
.s-subscribe--open .s-subscribe__suggestion {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.search--open .search__suggestion:nth-child(2),
.s-subscribe--open .s-subscribe__suggestion:nth-child(2) {
	transition-delay: 0.1s;
}

.search--open .search__suggestion:nth-child(3),
.s-subscribe--open .s-subscribe__suggestion:nth-child(3) {
	transition-delay: 0.2s;
}
.s-subcrible-form-btn{
	text-align:right;
	margin-top:4vw;
	margin-right: 12.5%;
}

.s-subcrible-form-btn > .form-btn{
	font-family: inherit;
	-webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    font-size: 4vw;
    line-height: 1.5;
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    padding: 0.05em 0;
    color: #fff;
    outline: 0px;
    border: 0px;
    margin-top: 2vw;
    background-color: #f68;
	cursor: pointer;
	text-align: center;
}
.thanks-subscribe{
	color: #fff;
	font-size: 8vw;
	display:block;
	opacity:0;
	visibility:hidden;
	transition:opacity 0.5s, visibility 0s ease-out 0.5s;
}
.thanks-subscribe.open{
	opacity:1;
	visibility:visible;
	transition:opacity 0.5s ease-out 0.1s, visibility 0s ease-out 0.1s;
}
@media screen and (max-width:40em) {
	.search__form,
	.s-subscribe__form	{
		margin: 5em 0 1em;
	}
	.btn--search-close,
	.btn--s-subscribe-close{
		font-size: 1.25em;
		top: 1.5em;
		right: 1.5em;
	}
	.search__info,
	.s-subscribe__info{
		text-align: left;
	}
	.search__suggestion,
	.s-subscribe__suggestion{
		font-size: 80%;
		width: 100%;
	}
	.search__suggestion:nth-child(2),
	.search__suggestion:nth-child(3),
	.s-subscribe__suggestion:nth-child(2),
	.s-subscribe__suggestion:nth-child(3) {
		display: none;
	}

	.s-subcrible-form-btn > .form-btn{
	-webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
	}

	.error { font-size: 90%; }

	.s-subscribe__input {
		margin-top:5vw;
	}

}
