	

	.select-d 		{ display:inline-block;}
	.select-m 		{ display:none}

	.select-hidden 	{ 	display:none; visibility:hidden; padding-right:10px; }
  	.select 		{ 	cursor:pointer; display:inline-block; position:relative;
  						font-size:40px; color:#999; width:120px; padding:0 15px; height:45px;
    					background-color:transparent; margin-left:-20px; 
				    	font-family: 'robotobold',"robotoregular", "Lucida Grande", "Myriad Set Pro",  Arial, Helvetica, 微軟正黑體, sans-serif; }

	.select-styled { position:absolute; top:0; right:0; bottom:0; left:0; padding:8px 15px; /*margin-top:2px;*/
					    -moz-transition: all 0.2s ease-in;
					      -o-transition: all 0.2s ease-in;
					 -webkit-transition: all 0.2s ease-in;
					         transition: all 0.2s ease-in; }



	#body.en .select-styled { margin-top:2px;  z-index:820}					         
	#body.cn .select-styled { margin-top:-3px; z-index:820}					         

	.select-styled:after { 	content: "";  width:0; height:0;  border:7px solid transparent;
	    					border-color: #999 transparent transparent transparent;
	   						position:absolute;  right:10px; }


	#body.en .select-styled:after { 	top:25px; }
	#body.cn .select-styled:after { 	top:35px; }

  	.select-styled:hover 	{ /*background-color: #b83729;*/}
  	.select-styled:active, .select-styled.active { /*background-color: #ab3326;*/}

 	#body.en .select-styled:active:after, #body.en .select-styled.active:after { top:15px;  border-color:transparent transparent #999 transparent; }
 	#body.cn .select-styled:active:after, #body.cn .select-styled.active:after { top:25px;  border-color:transparent transparent #999 transparent; }

  	.select-options 		{ display:none; position:absolute; top:100%; right:0; left:0; z-index:800; margin:0;  padding:0;
  							  list-style:none; background-color:#ececec;
						    -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.07);
						       -moz-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.07);
						 			box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.07); 
						 		    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
								       -moz-animation: fadein 1s; /* Firefox < 16 */
								        -ms-animation: fadein 1s; /* Internet Explorer */
								         -o-animation: fadein 1s; /* Opera < 12.1 */
								            animation: fadein 1s;
	}

  	.select-options li:first-child 	{ margin-top:10px; border-top:5px solid #fff}
  	.select-options li 	{ margin:0; padding:12px 0; text-indent:15px; border-top: 1px solid #fff; background-color:#ececec;
					    -moz-transition: all 0.15s ease-in;
					      -o-transition: all 0.15s ease-in;
				     -webkit-transition: all 0.15s ease-in;
					         transition: all 0.15s ease-in; }

 	.select-options li:hover 		{ color: #fff; background: #666; }
  	.select-options li[rel="hide"] 	{ display:none; }


	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}


	/* ==========================================================================
		Media
	============================================================================= */

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
  	.select-d 		{ display:none;}
	.select-m 		{ display:inline-block;}
  	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
  	.select-d 		{ display:none;}
	.select-m 		{ display:inline-block;}
  	}

  	@media only screen and (max-width:667px) {
  	.select-d 		{ display:none;}
	.select-m 		{ display:inline-block;}
	.select-sm.year-sm.select-m 		{ display:block;}/*edit 20171219*/


  	}
