	
	/*========== FOR VIDEO PAGE ONLY=====================*/
	.video-table				{ display:table; width:100%; height:auto; background-color:#ececec; margin-bottom:50px}
	.video-table .vcol 			{ display:table-cell; }
	.video-table .vcol.vcol-l 	{ width:500px; height:281px; vertical-align:middle; text-align:left;}
	.video-table .vcol.vcol-r 	{ vertical-align:top; text-align:left;}
	.video-table .vcol.vcol-r .vpos	{ padding:25px}

	.container90 { width:90%; margin:0 auto;}
	.v-title 	 { padding-bottom:20px}
	/*===============================*/


	.play-btn { position:absolute; left:50%; top:50%;  cursor:pointer;
	   			transform: translate(-50%,-50%); }

	.play-btn>.fa {font-size: 80px; color:#fff; opacity:0.8;}

	.video-cover-gallery	{ width:100%; height:100%; overflow:hidden; position:absolute; top:0}
	.video-cover-gallery .video-cover	{ 	width:100%;
											background-position: center;
											  background-repeat: no-repeat;
											  	background-size: cover;
												     transition: all 0.3s; }



	.video-cover-gallery  .play-lay 	{ position:absolute; top:0; left:0; width:100%; height:100%;
										  transition:all 0.3s; }

	.video-cover-gallery  .play-lay .dark-lay { width:100%; height:100%; background:#000; opacity:0;
	    										transition: opacity 0.3s;}

	.video-cover-gallery:hover  .play-lay .dark-lay { opacity:0.5; }

	.video-cover { overflow: hidden;}


	/*========== FOR AUDIO PAGE ONLY=====================*/
	.btn-audio { width:80px; height:80px; background-color:#000; opacity:0.8; color:#fff; text-align:center;
					-webkit-border-radius: 50%;
                       -moz-border-radius: 50%;
                            border-radius: 50%;}

	.audio-wrp {
		width:100%;
		background-color: #fff;
		display:table;
	}
	.audio-content{
		width:calc(100% - 60px - 110px);
		padding:30px;
	}
	.audio-content .ac-title{
		font-size: 20px;
		color: #b20838;
		line-height: 1.5;
		margin: 5px 0;
	}
	.audio-btn {
		position:absolute;
		right:0;
		top:0;
		height:100%;
		padding:0 30px; 
		width: 50px;
		background-color: #000;
		transition: background-color 0.3s;
	}
	.audio-btn:hover{
		background-color: #1d0307;
	}
	.audio-btn  .a-btn{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		width:50px;
		height:50px;
	}
	.audio-btn .img{
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease-out;
	}
	.audio-btn.pm .img.st,
	.audio-btn .img.py{
		display:none;
	}
	.audio-btn .img.st,
	.audio-btn.pm .img.py{
		display:block;
	}
	.audio-btn .img.h,
	.audio-btn:hover .img.nh{
		opacity:1;
		top:0px;
		transform: rotateX(0deg);
		transition: opacity 0.2s ease-out 0.15s,
					top 0.2s ease-out 0.2s,
					transform 0s ease-out 0.2s;
	}
	.audio-btn:hover .img.h,
	.audio-btn .img.nh{
		opacity: 0;
		top:-15px;
		transform: rotateX(120deg);
		transition: opacity 0.2s ease-out 0s,
					top 0.2s ease-out 0s,
					transform 0.2s ease-out 0s;
	}
  	/* ==========================================================================
		Media
	============================================================================= */

	@media only screen and (max-width: 1250px) {
	.container90 { width:100%; }
	}

	@media only screen and (max-width: 1024px) {
	.video-table .vcol.vcol-l 	{ width:300px; height:169px; }
	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.video-table .vcol.vcol-l 	{ width:400px; height:225px; }

	}
	@media only screen and (max-width:667px) {
	.video-table				{ display:block; width:100%; min-height:inherit;}
	.video-table .vcol 			{ display:block; }
	.video-table .vcol.vcol-l 	{ width:100%; height:auto; }
	.video-table .vcol.vcol-r 	{ width:100%;}
	.video-cover-gallery		{ width:100%; height:auto; overflow:hidden; position:relative; top:0; }
	.video-table .vcol.vcol-r .vpos	{ padding:20px}
	}